.header__container {
  display: flex;
  height: var(--header-height);
  background-color: var(--n-950);

  justify-content: space-between;

  align-items: center;
  width: 100%;
  padding: 0 24px;
  flex-shrink: 0; /* Không cho sidebar co lại */
  position: sticky;
  box-shadow: 0px 5px 15px var(--n-900);
  top: 0;
  z-index: 100;
}

.header__nav_and_icon {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.header__search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 40px;
  max-width: 720px;
}

.header__function {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.header__search_input {
  width: 100%;
  height: 34px;
  padding: 0 12px;
  background-color: var(--n-800);
  border: 1px solid var(--n-600);
  border-radius: 40px 0 0 40px;
  color: white;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;

  box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.5),
    inset -2px -2px 4px -2px rgba(255, 255, 255, 0.05);
}

.header__search_input:focus {
  border-color: var(--p-900);
}

.header__search > img {
  background-color: var(--n-800);
  height: 34px;
  padding: 0 20px;

  box-sizing: border-box;

  border: 1px solid hsl(0, 0%, 18.82%);
  border-left: none;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
}

.header__icon {
  cursor: pointer;
  padding: 5px;
  &:hover {
    background-color: var(--n-700);
    transition: transform 0.3s ease;
    transform: scale(1.25);
  }
  &:active {
    border: 1px solid var(--p-900);
    background-color: var(--n-700);
    transition: transform 0.3s ease;
    transform: scale(1.25);
  }
  border-radius: 50%;
}

.header__nav_and_icon > .header__icon:first-child {
  width: 34px;
  height: 34px;
}
.header__nav_and_icon > .header__icon:last-child {
  height: 50px;
  padding: 0px;
}

.header__function > .header__icon {
  width: 34px;
  height: 34px;
}
