.play__video_item_main {
  max-width: 65%;

  background-color: var(--n-500);
  padding: 20px;
  border-radius: 10px;
  top: 10%;
  box-shadow: 4px 4px 4px -2px var(--n-800), -4px -4px 4px -2px var(--n-400);
  flex-basis: 300px; /* Chiều rộng cơ sở của mỗi thẻ */
  flex-grow: 1; /* Cho phép thẻ giãn ra để lấp đầy không gian */
}
.play__video {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

.play__next_video {
  flex-grow: 1;
  background-color: var(--n-500);
  border-radius: 10px;
  max-width: 30%;
  box-shadow: 4px 4px 4px -2px var(--n-800), -4px -4px 4px -2px var(--n-400);
  display: flex;
  flex-direction: column;
}

.play__next_video_title {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 0;
  flex-shrink: 0;
}

.play__next_video_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: 550px;
  overflow-y: auto;
  padding-bottom: 10px;
  flex-grow: 1;
}

.play__next_video_item {
  max-width: 90%;
  background-color: var(--n-400);
  box-shadow: 4px 4px 4px -2px var(--n-600), -4px -4px 4px -2px var(--n-200);
  border-radius: 10px;
  flex-shrink: 0;
}
